# This .gitignore ignore everything in the root directory, then exclude tracked projects
*
!.gitignore
!README.md

# project list

!CMakeTest/
!CMakeTest/**

!BoostTest/
!BoostTest/**

!CoroutineTest/
!CoroutineTest/**

!AutoExecEditor/
!AutoExecEditor/**

!privateAccess.cpp

!LuaVM/
!LuaVM/**

!LearnWGPU/
!LearnWGPU/**
