# https://clangd.llvm.org/config

InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true

CompileFlags:
  Add: [
    -xc,
    -std=gnu11,
    -Wall,
    -Wextra,
    -Wshadow,
    -Wconversion,
    -Wformat=2,
    -Wundef,
    -Wmissing-prototypes,
    -Wimplicit-fallthrough,
    -Wno-unused-function,
    # -DTLDS_ABBR,
    # -DTL_LOG_IMPLEMENTATION,
  ]
  Compiler: clang

