# https://clangd.llvm.org/config

InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true

CompileFlags:
  Add: [
    -xc++,
    -std=c++17,
    -Wall,
    -Wextra,
    -stdlib=libc++,
    -isystem,
    /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/v1,
    -DWGPU_BACKEND_DAWN=1,
  ]
  Compiler: clang++
  CompilationDatabase: build/multi/

