# https://clangd.llvm.org/config

InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true

CompileFlags:
  Add: [
    -xc,
    -xobjective-c,
    -std=gnu11,
    -Wall,
    -Wextra,
    -I../include,
  ]
  Compiler: clang

